---
http_interactions:
- request:
    method: get
    uri: https://portal.solarpark-online.com/ifms/segments/9b182fdc-8854-11ee-a4ff-42010afa015a/mlocs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<SCADA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"nameL1":null,"nameL2":null,"nameL3":null,"nameL4":null,"apcode":"ModuleTemperature1","id":"b64bc412-8854-11ee-a4ff-42010afa015a","name":"Module
        Temperature 1","sscode":null,"uri":"http://portal.solarpark-online.com/ifms/mlocs/b64bc412-8854-11ee-a4ff-42010afa015a","measurementTypeId":"3074ed1f-8264-11de-ad55-0090f586a869"},{"nameL1":null,"nameL2":null,"nameL3":null,"nameL4":null,"apcode":"ModuleTemperature2","id":"b64be73a-8854-11ee-a4ff-42010afa015a","name":"Module
        Temperature 2","sscode":null,"uri":"http://portal.solarpark-online.com/ifms/mlocs/b64be73a-8854-11ee-a4ff-42010afa015a","measurementTypeId":"3074ed1f-8264-11de-ad55-0090f586a869"},{"nameL1":null,"nameL2":null,"nameL3":null,"nameL4":null,"apcode":"ModuleTemperature3","id":"b64c081e-8854-11ee-a4ff-42010afa0[...]
[...]
