<h1>SOLDAT</h1>
<%= link_to "Simulations", "/projects" %></br></br>
<%= link_to "Pvsysts", "/pvsysts" %></br></br>
<%= link_to "Pvsyst Simulations Import", "/pvsyst_simulations/import/new" %></br></br>
<%= link_to "Pvsyst Import", "/pvsysts/import/new" %>
