<link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.1/luxon.min.js" integrity="sha512-pLpg+nu4NcwVDWeET7iDkouvX+70FrqLGgd1QUZCMLgCTzQ6V0PAAG4c4uLi9xM5QRlhvVlCqLaNBbfshLkJKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id='projects-table'></div>

<script>
  var dataSource = '/projects/table_data';

  var projectsTable = new Tabulator("#projects-table", {
    height: 500,
    laytout: 'fitColumns',
    ajaxURL: dataSource,
    pagination: true,
    paginationSize: 20,
    paginationSizeSelector: [10, 20, 40, 80],
    columns: [
      {title: 'Name', field: 'project', width: 150},
      {title: 'File Date', field: 'project_file_date', width: 150},
      {title: 'Description', field: 'project_description', width: 150},
      {title: 'Version', field: 'pvsyst_version', width: 150},
      {title: 'Geographical Site', field: 'geographical_site', width: 150},
      {title: 'Geographical Site File Date', field: 'geographical_site_file_date', width: 150},
      {title: 'Geographical Site Description', field: 'geographical_site_description', width: 150},
      {title: 'Meteo Data', field: 'meteo_data', width: 150},
      {title: 'Meteo Data File Date',    field: 'meteo_data_file_date', width: 150},
      {title: 'Meteo Data Description', field: 'meteo_data_description', width: 150},
      {title: 'Satelite Data',    field: 'satelite_data', width: 150},
      {title: 'Simulation Date', field: 'simulation_date', width: 150},
      {title: 'Simulation Variant', field: 'simulation_variant', width: 150},
      {title: 'Simulation Variant File Date', field: 'simulation_variant_file_date', width: 150},
      {title: 'Simulation Variant Description', field: 'simulation_variant_description', width: 150},
      {title: 'Simulation Hourly Values To', field: 'simulation_hourly_values_to', width: 150},
      {title: 'Simulation Hourly Values From', field: 'simulation_hourly_values_from', width: 150},
    ],
  });
</script>

