---
http_interactions:
- request:
    method: post
    uri: https://portal.solarpark-online.com/ifms/sites/sources/events
    body:
      encoding: UTF-8
      string: '{"siteIds":["25658d43-0ffd-42b4-a4e4-d3b808e85087"],"startDate":"20250301T010000Z","endDate":"20250301T010500Z","measurementLocationApcodes":["PPCActivePowerTr2"]}'
    headers:
      Api-Key:
      - "<SCADA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"siteId":"25658d43-0ffd-42b4-a4e4-d3b808e85087","date":"20250301T010000Z","measurementSourceId":"b8bcd7ae-8854-11ee-a4ff-42010afa015a","val":"-618.5966186523438","cpName":"1m","measurementApcode":"PPCActivePowerTr2"},{"siteId":"25658d43-0ffd-42b4-a4e4-d3b808e85087","date":"20250301T010100Z","measurementSourceId":"b8bcd7ae-8854-11ee-a4ff-42010afa015a","val":"-623.2684936523438","cpName":"1m","measurementApcode":"PPCActivePowerTr2"},{"siteId":"25658d43-0ffd-42b4-a4e4-d3b808e85087","date":"20250301T010200Z","measurementSourceId":"b8bcd7ae-8854-11ee-a4ff-42010afa015a","val":"-620.5447998046875","cpName":"1m","measurementApcode":"PPCActivePowerTr2"},{"siteId":"25658d43-0ffd-42b4-a4e4-d3b808e85087","date":"20250301T010300Z","measurementSourceId":"b8bcd7ae-8854-11ee-a4ff-42010afa015a","val":"-620.6958618164062","cpName":"1m","measurementApcode":"PPCActivePowerTr2"},{"siteId":"25658d43-0ffd-42b4-a4e4-d3b808e85087","date":"20250301T010400Z","measurementSourceId":"b8bcd7ae-8854-11ee-a4ff-42010afa015a","val":"-618.7899780273438","cpName":"1m","measurementApcode":"PPCActivePowerTr2"},{"siteId":"25658d43-0ffd-42b4-a4e4-d3b808e85087","date":"20250301T010500Z","measurementSourceId":"b8bcd7ae-8854-11ee-a4ff-42010afa015a","val":"-614.5534057617188","cpName":"1m","measurementApcode":"PPCActivePowerTr2"}]'
  recorded_at: Fri, 25 Apr 2025 02:52:20 GMT
recorded_with: VCR 6.3.1
