---
http_interactions:
- request:
    method: get
    uri: https://portal.solarpark-online.com/ifms/mlocs/b68cadd8-8854-11ee-a4ff-42010afa015a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<SCADA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Ambient Temperature (1m)","nameL1":null,"nameL2":null,"nameL3":null,"nameL4":null,"apcode":"AmbientAirTemperatureTr2","id":"b68cadd8-8854-11ee-a4ff-42010afa015a","measureType":{"apcode":"Temp","dataType":"Float","id":"3074ed1f-8264-11de-ad55-0090f586a869","name":"Temperature","uri":"http://portal.solarpark-online.com/ifms/measureTypes/3074ed1f-8264-11de-ad55-0090f586a869"},"monitor":null,"rcv":false,"segment":{"apcode":"WeatherStation","apcode_idx":3,"id":"9b182fdc-8854-11ee-a4ff-42010afa015a","name":"MET.028","uri":"http://portal.solarpark-online.com/ifms/segments/9b182fdc-8854-11ee-a4ff-42010afa015a"},"sources":[{"calcPeriod":"1m","calcTimeSpanCount":1,"calcTimeSpanMode":"fixed-time-span","check":null,"date":"20250418T215300Z","engUnit":"C","id":"b68cb0a8-8854-11ee-a4ff-42010afa015a","manualIngest":false,"quality":null,"range":null,"uri":"http://portal.solarpark-online.com/ifms/sources/b68cb0a8-8854-11ee-a4ff-42010afa015a","val":"26.700000762939453","calcTypeApcode":"TimeSeriesAverage"}],"siteId":"25658d43-0ffd-42b4-a4e4-d3b808e85087","description":null,"descriptionL1":null,"descriptionL2":null,"descriptionL3":null,"descriptionL4":null}'
  recorded_at: Fri, 18 Apr 2025 21:53:36 GMT
[...]
