---
http_interactions:
- request:
    method: get
    uri: https://portal.solarpark-online.com/ifms/agents/4b5dc3b7-4ea5-4ed4-a32b-a78645085104/sites
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<SCADA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"01b66255-c94a-44b3-a5ba-540850108e26","name":"Danish Fields
        - T1","properties":{"Timezone":"US/Central","Address":null,"Latitude":"29.013637","TestResults":null,"CRMID":"","TypeOfProject":"Production","NumberOfControllers":null,"ACLoad":"Yes","CabinsDesigns":null,"RNOCTestsEndDate":null,"AddressZIPCode":"77437","ActivationDate":null,"PowerSourceProvision":null,"GridConnected":"Yes","PlantDesigner":"Rosendin","TypeOfPlant":"Grid-connected","City":"El
        Campo","Longitude":"-96.220536","CabinGroup":null,"PlantOperator":"TOTAL ","InstallationImplementor":null,"MaintenanceContractor":null,"Country":"United
        States","District":null,"MaintenanceDate":null,"Contract":null,"TelcoArea":null,"ODSSPresence":null,"DSLAMCode":null,"ODSSActive":null,"RelatedMarketSite":null,"Information":null,"RecordingPeriod":"5m","NumberOfActiveEquipment":null,"MarketTimezone":null,"AdminRegion":null,"TechDepartment":null,"CabinVendor":null,"ActivationDateNMS":null,"PlantInstaller":"Rosendin","CabinType":null,"CabinKVNumber":null,"Portfolio":"TOTAL","WarrantyExpirationDate":null,"Severity":null,"TypicalUse":"Power
        station","RNOCNotificationDate":null,"NumOfTCPs":"92","Serial":null,"SubTypes":"PV","DSLAMNetworkIPAddress":null,"AddressStreet":"11000
        Country Rd. 403","EETTCode":null,"AvailableCalculationPeriods":"1s,1m,60m,1mo,Variant,1d,1y,5m","Altitude":"1003"},"state":"online","uri":"http://portal.solarpark-online.com/ifms/sites/01b66255-c94a-44b3-a5ba-540850108e26","siteTypeApcode":"PVPlant","enterprise":{"uri":"http://portal.solarpark-online.com/ifms/enterprises/fd054d7d-86c2-4c92-828f-747a68e68e0c","name":"TotalEnergies
        Renewables USA, LLC","id":"fd054d7d-86c2-4c92-828f-747a68e68e0c"}},{"id":"4bc92d73-439f-43c1-8dcc-510746981b2d","name":"RB
        Inyokern WDAT 1281 LLC","properties":{"Timezone":"America/Los_Angeles","Address":null,"Latitude":"35.6543","TestResults":null,"CRMID":"","TypeOfProject":"Production","NumberOfControllers":null,"ACLoad":"No","CabinsDesigns":null,"RNOCTestsEndDate":null,"AddressZIPCode":"93527","ActivationDate":null,"PowerSourceProvision":null,"GridConnected":"No","PlantDesigner":"Baker
        Electric","TypeOfPlant":"Grid-connected","City":"Inyokern","Longitude":"-117.8043","CabinGroup":null,"PlantOperator":"Dimension
        Energy","InstallationImplementor":null,"MaintenanceContractor":null,"Country":"United
        States","District":null,"MaintenanceDate":null,"Contract":null,"TelcoArea":null,"ODSSPresence":null,"DSLAMCode":null,"ODSSActive":null,"RelatedMarketSite":null,"Information":null,"RecordingPeriod":"5m","NumberOfActiveEquipment":null,"MarketTimezone":null,"AdminRegion":null,"TechDepartment":null,"CabinVendor":null,"ActivationDateNMS":null,"PlantInstaller":"Baker
        Electric","CabinType":null,"VPPMember":"No","CabinKVNumber":null,"Portfolio":null,"WarrantyExpirationDate":null,"Severity":null,"TypicalUse":"Power
        station","RNOCNotificationDate":null,"NumOfTCPs":"3","Serial":null,"SubTypes":null,"DSLAMNetworkIPAddress":null,"EETTCode":null,"AvailableCalculationPeriods":"1s,1m,60m,1mo,Variant,1d,1y,5m"},"state":"online","uri":"http://portal.solarpark-online.com/ifms/sites/4bc92d73-439f-43c1-8dcc-510746981b2d","siteTypeApcode":"PVPlant","enterprise":{"uri":"http://portal.solarpark-online.com/ifms/enterprises/47d8442e-9349-11ee-b639-42010afa015a","name":"Dimension
        Energy","id":"47d8442e-9349-11ee-b639-42010afa015a"}},{"id":"34b22637-7bb4-4082-97c4-270794ee2fb2","name":"Kings
        CSG 3 LLC","properties":{"Timezone":"America/Los_Angeles","Address":null,"Latitude":"35.2498","TestResults":null,"TypeOfProject":"Production","NumberOfControllers":null,"ACLoad":"No","CabinsDesigns":null,"RNOCTestsEndDate":null,"AddressZIPCode":"93245","ActivationDate":null,"SunTracker":"No","PowerSourceProvision":null,"GridConnected":"No","PlantDesigner":"Baker
        Electric","TypeOfPlant":"Grid-connected","City":"Lemoore","Longitude":"-119.8851","CabinGroup":null,"PlantOperator":"Dimension
        Energy","InstallationImplementor":null,"MaintenanceContractor":null,"Country":"United
        States","District":null,"MaintenanceDate":null,"Contract":null,"TelcoArea":null,"ODSSPresence":null,"DSLAMCode":null,"ODSSActive":null,"RelatedMarketSite":null,"Information":null,"Record[...]
